src/main/resources/META-INF/currencies.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns="https://maiamy.cn/schema/currencies"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="https://maiamy.cn/schema/currencies"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:element name="currencies">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="currency" type="currency" nillable="true" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="currency">
        <xsd:attribute name="country" type="xsd:string" use="optional"/>
        <xsd:attribute name="country-short-name" type="xsd:string" use="optional"/>
        <xsd:attribute name="currency" type="xsd:string" use="required"/>
        <xsd:attribute name="fraction-digits" type="xsd:int" use="required"/>
    </xsd:complexType>

</xsd:schema>
