src/main/resources/META-INF/swift-mt.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns="https://maiamy.cn/schema/swift"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="https://maiamy.cn/schema/swift"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:element name="swift-mt">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="message-type" type="xsd:string"/>
                <xsd:element name="fields" type="fields" nillable="true" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="fields">
        <xsd:sequence>
            <xsd:element name="field" type="field"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="field">
        <xsd:sequence>
            <xsd:element name="components" type="components" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="fields" type="fields" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="no" use="required" type="xsd:string"/>
        <xsd:attribute name="tag" use="required" type="xsd:string"/>
        <xsd:attribute name="field-name" use="required" type="xsd:string"/>
        <xsd:attribute name="format" use="required" type="xsd:string"/>
        <xsd:attribute name="pattern" type="xsd:string"/>
        <xsd:attribute name="type" type="xsd:string"/>
        <xsd:attribute name="status" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
    The status of a field (or component, sequence).

    "M" indicates a field (or component, sequence) is mandatory;
    "O" indicates a field (or component, sequence) is optional.
                ]]></xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="M"/>
                    <xsd:enumeration value="O"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="options" type="xsd:string"/>
    </xsd:complexType>

    <xsd:complexType name="components">
        <xsd:sequence>
            <xsd:element name="component" type="component"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="component">
        <xsd:attribute name="index" type="xsd:string"/>
        <xsd:attribute name="start-index" type="xsd:string"/>
        <xsd:attribute name="end-index" type="xsd:string"/>
        <xsd:attribute name="label" type="xsd:string"/>
        <xsd:attribute name="format" use="required" type="xsd:string"/>
        <xsd:attribute name="pattern" type="xsd:string"/>
        <xsd:attribute name="type" type="xsd:string"/>
        <xsd:attribute name="status" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
    The status of a field (or component, sequence).

    "M" indicates a field (or component, sequence) is mandatory;
    "O" indicates a field (or component, sequence) is optional.
                ]]></xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="M"/>
                    <xsd:enumeration value="O"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="options" type="xsd:string"/>
    </xsd:complexType>

</xsd:schema>
